.profile__user-name{
  border: 1px solid rgb(175, 250, 135);
  color: #fff;
  margin: 23px 0 16px 0;
  grid-area: name;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
}

@media  screen and (max-width: 689px) {
  .profile__user-name {
    font-size: 27px;
    line-height: 32.68px;
    margin: 26px 0 14px 0;
  }
}